@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Satoshi&display=swap');
@import "tailwindcss";

@config "../tailwind.config.js";

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}